/**
 * colors
 */
/*rgb(230,0,115);*/
/**
 * Colors
 */
.red {
  color: #b90000;
}
/**
 * Fonts
 */
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: bold;
  color: #b90000;
}
/**
 * Mixins
 */
/**
 * General
 */
hr {
  border-bottom: 1px dotted #808080;
}
.clear {
  clear: both;
}
/**
 * Body 
 */
body {
  font-family: 'Lato', Arial, sans-serif;
  background-color: white;
  line-height: 1.25em;
}
/**
 * Navbar
 */
.navbar-default .navbar-link {
  color: #464646;
  margin-bottom: 0;
}
/**
 * Navbar
 */
nav.navbar-fixed-top {
  /*border-top: solid 1em @magenta;*/

}
.navbar {
  color: #333333;
  background-color: #ffffff;
  /*  border-top: @magenta solid 1.5em;
*/
  -webkit-box-shadow: 0px 5px 5px 0px rgba(31, 31, 31, 0.8);
  -moz-box-shadow: 0px 5px 5px 0px rgba(31, 31, 31, 0.8);
  box-shadow: 0px 5px 5px 0px rgba(31, 31, 31, 0.8);
}
.navbar-brand {
  padding: 12px 15px;
  height: auto;
}
div#header-right {
  text-align: right;
  float: right;
  padding: 12px 0;
}
div#header-right a {
  color: #737373;
}
div#header-right p.claim {
  font-size: 100%;
  color: #808080;
}
div#header-right p.menu {
  margin-top: 20px;
}
div#header-right p.menu a {
  font-size: 100%;
  color: #b90000;
}
p.navbar-text {
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0;
}
p.navbar-text.claim {
  text-align: right;
  font-size: 80%;
  margin-top: 0;
  margin-bottom: 7px;
}
p.navbar-text.claim a {
  color: #737373;
}
p.navbar-text.social {
  text-align: right;
  font-size: 90%;
  margin-top: 0;
  margin-bottom: 7px;
}
p.navbar-text.social a {
  color: #737373;
}
@media screen and (min-width: 768px) {
  p.navbar-text.social {
    margin-top: 44px;
    float: right;
  }
}
p.navbar-text.menu {
  clear: right;
}
p.navbar-text.menu a {
  color: #c80064;
}
p.navbar-text.menu a:hover {
  color: black;
}
.menu-item {
  color: #333333;
  color: #c80064;
}
.menu-item::after {
  content: "  |  ";
  color: #c8c8c8;
}
.menu-item.last::after {
  content: "";
}
#banner {
  -webkit-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
}
/**
 * Carousel
**/
div.carousel {
  margin-top: 7em;
  -webkit-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
}
@media screen and (min-width: 768px) {
  div.carousel {
    margin-top: 5.5em;
  }
}
.carousel-control {
  display: none;
}
.carousel-inner img {
  width: 100%;
}
.carousel-inner div.carousel-caption {
  text-align: left;
  margin-left: -5%;
}
.carousel-inner div.carousel-caption h3 {
  font-size: 200%;
  font-family: 'LatoBold', Arial, sans-serif;
}
.carousel-inner div.carousel-caption p {
  font-size: 125%;
  font-family: 'LatoRegular', Arial, sans-serif;
}
div#news-slider ol.carousel-indicators {
  bottom: 2%;
}
div#news-slider div.carousel-caption {
  font-size: 100%;
  font-family: 'LatoRegular', Arial, sans-serif;
  text-align: left;
  margin: 0;
  padding: 0;
  left: 4%;
  bottom: 12%;
}
/**
  * cross-fade effect 
  * see https://coderwall.com/p/w4k7sw
**/
.carousel .item {
  -webkit-transition: 0.7s ease-in-out opacity;
  -moz-transition: 0.7s ease-in-out opacity;
  -ms-transition: 0.7s ease-in-out opacity;
  -o-transition: 0.7s ease-in-out opacity;
  transition: 0.7s ease-in-out opacity;
  left: 0 !important;
}
.carousel .active.left,
.carousel .active.right {
  opacity: 0;
  z-index: 2;
}
/**
 * Content
**/
section#content {
  -webkit-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  background-color: white;
  padding: 1em 0;
  /*min-height: 35em;*/

}
section#content h2 {
  color: #b90000;
  margin: 1em 0 0.5em 0;
  font-size: 110%;
}
section#content p {
  margin: 1em 0;
}
section#content div.contatti {
  min-height: 10em;
}
section#content div.contatti a {
  color: #b90000;
  text-decoration: none;
  border-bottom: 1px dotted #b90000;
}
section#content div.contatti a:hover {
  color: #b90000;
  border-bottom: none;
  text-decoration: none;
}
section#content div.appartamenti .btn-default {
  background-color: #c44040;
  color: white;
  font-size: 83%;
  text-transform: uppercase;
  font-weight: bold;
}
section#content div.appartamenti.intro div.img-wrapper {
  float: left;
  margin-right: 15px;
}
section#content div.appartamenti.ricerca {
  background-color: #f0f0f0;
  border: solid 1px white;
  padding: 1em 15px;
  margin: 1em 5px;
  width: 32%;
}
section#content div.appartamenti.ricerca h2 {
  margin-top: 0;
}
section#content div.appartamenti.ricerca.first {
  margin-left: 0;
}
section#content div.appartamenti.ricerca.last {
  margin-right: 0;
}
section#content div.risultati-ricerca {
  /*display: none;*/

}
section#content div.risultati-ricerca div.tab-pane {
  background-color: white;
  border: 1px solid #ddd;
  border-top: none;
  padding: 1em 15px;
  margin-bottom: 1em;
}
section#content div.risultati-ricerca a[role="tab"] {
  color: #b90000;
  text-decoration: none;
  border-bottom: 1px dotted #b90000;
  font-weight: bold;
  border-bottom: none;
  cursor: pointer;
}
section#content div.risultati-ricerca a[role="tab"]:hover {
  color: #b90000;
  border-bottom: none;
  text-decoration: none;
}
section#content div.risultati-ricerca.active {
  display: block;
}
section#content div.appartamenti.risultati-ricerca {
  background-color: #f0f0f0;
}
section#content div.appartamenti.risultati-ricerca img.edificio {
  display: block;
  float: left;
  padding-right: 15px;
}
section#content div.appartamenti.risultati-ricerca h3.istruzioni {
  padding: 1em 0;
}
section#content div#risultati-edificio-piano {
  margin: 1em 0;
}
section#content div#risultati-edificio-piano p {
  margin-top: 0;
}
section#content div#risultati-edificio-piano div.img-piano {
  margin: 0 auto;
  text-align: center;
}
section#content div#risultati-edificio-piano div.img-piano img.legenda {
  margin-left: 15px;
}
section#content div.piani-container {
  margin-bottom: 2em;
}
section#content div.piani-container div.header {
  margin-top: 0.5em;
}
section#content div.piani-container div.header.first {
  margin-top: 1em;
}
section#content div.piani-container div.header p,
section#content div.piani-container div.header button {
  display: inline;
}
section#content div.piani-container div.header a {
  color: #b90000;
  text-decoration: none;
  border-bottom: 1px dotted #b90000;
  cursor: pointer;
}
section#content div.piani-container div.header a:hover {
  color: #b90000;
  border-bottom: none;
  text-decoration: none;
}
section#content div.piani-container div.piani {
  clear: both;
}
section#content div.piani-container div.piano {
  width: 33%;
  background-color: #f0f0f0;
  padding: 1em 15px;
  margin: 0.5em 0;
  float: left;
}
section#content div.piani-container div.piano a.link-img {
  display: block;
  pointer: cursor;
}
section#content div.piani-container div.piano img {
  max-height: 200px;
  display: block;
  pointer: cursor;
  margin: 0 auto;
}
section#content div.piani-container div.piano button {
  margin: 0 auto;
  text-align: center;
}
section#content div.piani-container div.piano h4 {
  margin-bottom: 1em;
}
section#content div.piani-container div.piano h4 a {
  color: #b90000;
  text-decoration: none;
  border-bottom: 1px dotted #b90000;
}
section#content div.piani-container div.piano h4 a:hover {
  color: #b90000;
  border-bottom: none;
  text-decoration: none;
}
section#content area {
  cursor: pointer;
}
section#content div.modal img {
  display: block;
  margin: 0 auto;
  text-align: left;
}
section#content div.modal img.planimetria {
  text-align: center;
}
section#content div.modal p {
  margin-top: 0;
}
section#content div.modal p.edificio a {
  color: #b90000;
  text-decoration: none;
  border-bottom: 1px dotted #b90000;
}
section#content div.modal p.edificio a:hover {
  color: #b90000;
  border-bottom: none;
  text-decoration: none;
}
section#content div.modal h5 {
  margin-bottom: 0;
}
/**
 * News
 */
section.news {
  background-color: #fffdfa;
  padding-top: 1em;
  padding-bottom: 2em;
}
section.news div.news h2 {
  margin-bottom: 1em;
  text-transform: capitalize;
  color: #b90000;
}
section.news div.news p.titolo {
  font-weight: bold;
  color: #c80064;
  margin-bottom: 0;
}
section.news div.news a {
  text-decoration: none;
  color: #c80064;
  border-bottom: 1px dotted #c80064;
}
section.news div.news a.link-img {
  border: none;
}
section.news div.news p.cnt {
  margin-top: 0;
}
/* index */
section#content.index {
  -webkit-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  background-color: #f0f0f0;
  padding: 1em 0;
  min-height: 25em;
}
/* archivio news */
section#content.secondary {
  margin-top: 6em;
  min-height: 10em;
  box-shadow: none;
  padding-top: 0;
}
section#content.secondary div.appartamenti.ricerca {
  background-color: #f0f0f0;
}
/**
 * Footer
**/
footer {
  -webkit-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  background-color: #212121;
  padding: 2em 0;
  color: #c8c8c8;
}
footer a.link {
  color: #dcdcdc;
  text-decoration: none;
  border-bottom: none;
}
footer a.link:hover {
  border-bottom: 1px dotted;
}
footer h2 {
  font-size: 100%;
  color: white;
  font-size: normal;
}
footer p {
  margin-top: 0.5em;
  font-size: 90%;
}
footer strong {
  color: white;
  font-weight: normal;
}
footer a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px dotted #ffffff;
}
footer a:hover {
  color: #ffffff;
  border-bottom: none;
  text-decoration: none;
}
footer div.hr {
  border-top: 1px #464646 dotted;
  margin-top: 1em;
}
/**
 * Form
 */
form.backend {
  padding: 1em 15px;
}
form.backend label {
  margin-top: 0.5em;
}
form.backend label.first {
  margin-top: 0;
}
form.backend input,
form.backend textarea {
  width: 40%;
}
form.backend button[type=submit] {
  margin-top: 1em;
}
