/**
 * colors
 */
/*rgb(230,0,115);*/
/**
 * Fonts
 */
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: bold;
}
/**
 * Mixins
 */
/**
 * General
 */
hr {
  border-bottom: 1px dotted #808080;
}
/**
 * Body 
 */
body {
  font-family: 'Lato', Arial, sans-serif;
  background-color: white;
  line-height: 1.25em;
}
/**
 * Navbar
 */
.navbar-default .navbar-link {
  color: #464646;
  margin-bottom: 0;
}
/**
 * Navbar
 */
nav.navbar-fixed-top {
  /*border-top: solid 1em @magenta;*/

}
.navbar {
  color: #333333;
  background-color: #ffffff;
  /*  border-top: @magenta solid 1.5em;
*/
  -webkit-box-shadow: 0px 5px 5px 0px rgba(31, 31, 31, 0.8);
  -moz-box-shadow: 0px 5px 5px 0px rgba(31, 31, 31, 0.8);
  box-shadow: 0px 5px 5px 0px rgba(31, 31, 31, 0.8);
}
.navbar-brand {
  padding: 12px 15px;
  height: auto;
}
div#header-right {
  text-align: right;
  float: right;
  padding: 12px 0;
}
div#header-right a {
  color: #737373;
}
div#header-right p.claim {
  font-size: 100%;
  color: #808080;
}
div#header-right p.menu {
  margin-top: 20px;
}
div#header-right p.menu a {
  font-size: 100%;
  color: #b90000;
}
p.navbar-text {
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0;
}
p.navbar-text.claim {
  text-align: right;
  font-size: 80%;
  margin-top: 0;
  margin-bottom: 7px;
}
p.navbar-text.claim a {
  color: #737373;
}
p.navbar-text.social {
  text-align: right;
  font-size: 90%;
  margin-top: 0;
  margin-bottom: 7px;
}
p.navbar-text.social a {
  color: #737373;
}
@media screen and (min-width: 768px) {
  p.navbar-text.social {
    margin-top: 44px;
    float: right;
  }
}
p.navbar-text.menu {
  clear: right;
}
p.navbar-text.menu a {
  color: #c80064;
}
p.navbar-text.menu a:hover {
  color: black;
}
.menu-item {
  color: #333333;
  color: #c80064;
}
.menu-item::after {
  content: "  |  ";
  color: #c8c8c8;
}
.menu-item.last::after {
  content: "";
}
#banner {
  -webkit-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
}
/**
 * Carousel
**/
div.carousel {
  margin-top: 7em;
  -webkit-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
}
@media screen and (min-width: 768px) {
  div.carousel {
    margin-top: 5.5em;
  }
}
.carousel-control {
  display: none;
}
.carousel-inner img {
  width: 100%;
}
.carousel-inner div.carousel-caption {
  text-align: left;
  margin-left: -5%;
}
.carousel-inner div.carousel-caption h3 {
  font-size: 200%;
  font-family: 'LatoBold', Arial, sans-serif;
}
.carousel-inner div.carousel-caption p {
  font-size: 125%;
  font-family: 'LatoRegular', Arial, sans-serif;
}
div#news-slider ol.carousel-indicators {
  bottom: 2%;
}
div#news-slider div.carousel-caption {
  font-size: 100%;
  font-family: 'LatoRegular', Arial, sans-serif;
  text-align: left;
  margin: 0;
  padding: 0;
  left: 4%;
  bottom: 12%;
}
/**
  * cross-fade effect 
  * see https://coderwall.com/p/w4k7sw
**/
.carousel .item {
  -webkit-transition: 0.7s ease-in-out opacity;
  -moz-transition: 0.7s ease-in-out opacity;
  -ms-transition: 0.7s ease-in-out opacity;
  -o-transition: 0.7s ease-in-out opacity;
  transition: 0.7s ease-in-out opacity;
  left: 0 !important;
}
.carousel .active.left,
.carousel .active.right {
  opacity: 0;
  z-index: 2;
}
/**
 * Content
**/
section#content {
  -webkit-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  background-color: #f0f0f0;
  padding: 1em 0;
  min-height: 35em;
}
section#content h2 {
  color: #c80064;
  margin: 1em 0 0.5em 0;
  font-size: 110%;
}
section#content p {
  margin: 1em 0;
}
section#content div.sidebar {
  margin-top: 2.5em;
}
section#content div.sidebar a.sidebar {
  color: black;
  text-decoration: none;
}
section#content div.sidebar a.sidebar:hover {
  color: #c80064;
}
section#content div.news h2 {
  text-transform: capitalize;
  color: #b90000;
}
section#content div.news p.titolo {
  font-weight: bold;
  color: #c80064;
  margin-bottom: 0;
}
section#content div.news a {
  text-decoration: none;
  color: #c80064;
  border-bottom: 1px dotted #c80064;
}
section#content div.news a.link-img {
  border: none;
}
section#content div.news p.cnt {
  margin-top: 0;
}
/* index */
section#content.index {
  -webkit-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  background-color: #f0f0f0;
  padding: 1em 0;
  min-height: 25em;
}
/* archivio news */
section#content.secondary {
  margin-top: 6em;
  box-shadow: none;
  padding-top: 0;
}
section#content.secondary div.appartamenti.ricerca {
  background-color: #f0f0f0;
}
/**
 * Footer
**/
footer {
  -webkit-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  background-color: #212121;
  padding: 2em 0;
  color: #c8c8c8;
}
footer a.link {
  color: #dcdcdc;
  text-decoration: none;
  border-bottom: none;
}
footer a.link:hover {
  border-bottom: 1px dotted;
}
footer h2 {
  font-size: 100%;
  color: white;
  font-size: normal;
}
footer p {
  margin-top: 0.5em;
  font-size: 90%;
}
footer strong {
  color: white;
  font-weight: normal;
}
footer div.hr {
  border-top: 1px #464646 dotted;
  margin-top: 1em;
}
/**
 * Form
 */
form.backend {
  padding: 1em 15px;
}
form.backend label {
  margin-top: 0.5em;
}
form.backend label.first {
  margin-top: 0;
}
form.backend input,
form.backend textarea {
  width: 40%;
}
form.backend button[type=submit] {
  margin-top: 1em;
}
